# Base ------------------------------------------------------------------------
opencv-python-headless
torch
torchvision
joblib
scikit-learn
openpyxl
pandas
requests
pillow
streamlit
matplotlib
numpy
psutil
PyYAML
gitpython
tqdm
ultralytics
