# Base ------------------------------------------------------------------------
torch>=1.8.0
opencv-python-headless
scikit-learn
joblib
pandas
streamlit

opencv-python-headless
torch
torchvision
joblib
scikit-learn
openpyxl
pandas
requests
pillow
streamlit
matplotlib
numpy
psutil
PyYAML
gitpython
tqdm
ultralytics
